/* Sans Serif */
@font-face {
  font-family: "Couture";
  src: url("./assets/fonts/couture-bld.otf");
}

/* Alarm Clock Type */
@font-face {
  font-family: "Technology";
  src: url("./assets/fonts/Technology-BoldItalic.ttf");
}
