@import url("./fonts.css");

:root {
  --font-tech: "Technology", sans-serif;
  --font-env: "Environment", sans-serif;
  --color-dark: #050505;
  --color-highlight: #ffd900;
  --color-blue: #062a8b;
  --color-grey: #0c0c0c;
  --color-white: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-env);
  background-color: var(--color-dark);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.board-box {
  width: 750px;
  background-color: var(--color-blue);
  height: 70vh;
}
